
/* body {
  font-family: var(--primary-font-family);
} */



/* section {
  padding-top: 94px;
  padding-top: 94px;
} */

/*=====HEADER=====*/

/* .logo {
  margin-right: 90px;

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.web {
  color: var(--accent-color);
} */
/*=====HEADER END=====*/

/*=====HERO=====*/


/*=====HERO END=====*/

/*=====ABOUT=====*/

/*=====ABOUT END=====*/

/*=====TEAM=====*/



/*=====CUSTOMERS=====*/




/*=====PORTFOLIO=====*/



  /*=====FOOTER=====*/
  


  /*=====FOOTER-END=====*/

  

  /* .visualy-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } */