:root {
    --primary-font-family: "Roboto";
    --secondary-font-family: "Raleway";
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;
    --accent-font-color: #ffffff;
    --background-dark-theme: #2f303a;
    --background-light-theme: #f5f4fa;
    --modal-button-hover-color: #188ce8;
    --adress-list-color: #ffffff99;
    --border-filter-color: #eeeeee;
    --background-color: #c4c4c4;
    --fill-color: #afb1b8;
}